################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.cs
*.cache
*.cpp
*.tlog
*.lastbuildstate
*.dll
*.lib
*.exp
*.pdb
*.exe
*.user
/examples/cpp/hyperscan/vcpkg_installed/x64-windows
*.log
*.recipe
*.ilk
*.obj
*.pch
*.txt
*.idb
/examples/cpp/pcapplusplus/vcpkg_installed/x64-windows
/examples/dotNet/TestDotNet/.vs/TestDotNet.csproj.dtbcache.json
*.ipch
*.metagen
/bin/examples/.net/ARM64/Debug
/bin/examples/.net/ARM64/Release
/bin/examples/.net/x64/Debug
/bin/examples/.net/x64/Release
/bin/examples/.net/x86/Debug
/bin/examples/.net/x86/Release
*.iobj
*.ipdb
*.CopyComplete
/examples/cpp/capture/vcpkg_installed
/examples/cpp/dnstrace/vcpkg_installed
/examples/cpp/dns_proxy/vcpkg_installed
/examples/cpp/ethernet_bridge/vcpkg_installed
/examples/cpp/hyperscan/vcpkg_installed/x86-windows
/examples/cpp/ipv6_parser/vcpkg_installed
/examples/cpp/pcapplusplus/vcpkg_installed/x86-windows
/examples/cpp/rebind/vcpkg_installed
/examples/cpp/sni_inspector/vcpkg_installed
/examples/cpp/socksify/vcpkg_installed
/examples/cpp/udp2tcp/vcpkg_installed
*.res
/packages
